@import url('../node_modules/modern-normalize/modern-normalize.css');

:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* DANTE CODE HERE -----------*/

@font-face {
  font-family: "8bit Arcade Out";
  src: url(./Fonts/8-bit\ Arcade\ Out.ttf);
}
@font-face {
  font-family: '8bit Arcade In';
  src: url(./Fonts/8-bit\ Arcade\ In.ttf);
}

* {
    color-scheme: dark;
}



.title,
.player1,
.player2,
.player1Score,
.player2Score,
.buttons {
  font-family: "8bit Arcade In";
}

body {
  height: 100svh;
  display: grid;
  grid-template-columns: 50px 1fr 1fr 1fr 50px;
  grid-template-rows: 50px 1fr 1fr 4fr 1fr 50px;
} 

.title {
  grid-column: 3;
  grid-row: 2;
  align-self: center;
  justify-self: center;
  font-size: 14rem;

}

.player1 {
  grid-column: 2;
  grid-row: 3;
  align-self: center;
  justify-self: center;
  font-size: 10rem;
}

.player2 {
  grid-column: 4;
  grid-row: 3;
  align-self: center;
  justify-self: center;
  font-size: 10rem;
  color: purple;
}

.player1Score {
  grid-column: 2;
  grid-row: 3 / span 2;
  align-self: center;
  justify-self: center;
  font-size: 13rem;
}

.player2Score {
  grid-column: 4;
  grid-row: 3 / span 2;
  color: purple;
  align-self: center;
  justify-self: center;
  font-size: 13rem;
}

.board {
  align-self: center;
  justify-self: center;
  grid-column: 3;
  grid-row: 3 / span 2 ;
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
}

.board p {
  border: 1px darkgray solid;
  color: red;
  text-align: center;
}

.buttons {
  grid-column: 2 / span 3;
  grid-row: 5;
  align-self: self-start;
  justify-self: center;
  display: flex;
  flex-direction: column;
}

.buttons #playAgain,
.buttons #changePlayers {
  background-color: transparent;
  border: transparent;
  font-size: clamp(5rem, 2vw, 10rem);
}

.buttons #playAgain:hover,
.buttons #changePlayers:hover {
  color: purple;
  cursor: pointer;
}

.white {
  background-color: white;
}

.purple {
  background-color: purple;

}

.p1Square {
  grid-column: 2;
  grid-row: 3 / span 2;
  align-self: stretch;
  justify-self: stretch;
  border: 5px white solid;
}

.p2Square {
  grid-column: 4;
  grid-row: 3 / span 2;
  align-self: stretch;
  justify-self: stretch;
  border: 5px purple solid;
}

.icons {
  grid-column: 2;
  grid-row: 2;
  filter: invert(100%);
}

.volumeOff,
.volumeOn {
  position: absolute;
  width: 40%;
}

.volumeOn{
  display: none;
}
